.widget_bloggo_logo img {
	max-width: 100%;
}

.widget-row {
	padding-top: 15px;
	padding-bottom: 15px;
}

.vertical-center-xs {
	position: relative;
}
.vertical-center-md, .vertical-center-lg, .vertical-center-xl {
	position: static;
}

#carousel-banner {
	margin-top: -16px;
	margin-left: -15px;
	margin-right: -15px;
}

#carousel-banner .item {
	max-height: 400px;
}

#carousel-banner img {
	width: 100%;
}

.social-icon {
	margin: 0 5px;
}